
.stops {
  width: 100%;
  height: calc(100% - 60px);
  display: flex;
  flex-direction: column;
  margin-top: calc(var(--space-base) * 2);
}

.stops > .loader {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.stops > .route-label {
  display: flex;
  justify-content: space-between;
  padding: calc(var(--space-base) * 2) 0;
}

.stops-list {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-gap: 1rem;
  border-top: 2px solid black;
  overflow-y: scroll;
  padding-top: calc(var(--space-base) * 2);
}

.stops-list > .stop {
  height: 120px;
  border: 1px solid black;
  border-radius: 4px;
  padding: calc(var(--space-base) * 2);
  margin-bottom: var(--space-base);
}